{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        we have Variety of products.

{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">youhave searched for:<b>{{query}}</b></p>
</div>
    <div class="my_row mx-auto">
       {% for product in products %}
        <div class="my_bottom_margin col-3 col-sm-3 col-md-3 col-lg-6  ">

        <div class="card text-center" style="min-width:18rem;">
            <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" height="200px;" width="200px;"></a>
        <div class="card-body">
        <h4>{{product.name}}</h4>
        <P>{{product.price}}</P>
        </div>
        </div>
        </div >
    </div>
    {% empty %}
    <div class="row mx-auto">
        <p class="text-center my_search_text">0 results found</p>
    </div>
    {% endfor %}


{% endblock %}